# ================
# GLOBAL GITIGNORE
# ================
# folders
# =======

# dot files
# =========
.atomignore

# file extensions
# ===============

# folder files
# ============

# files
# =====

# negation
# ========

